html

body{
  background-color: #ffff80;
  background-size: 300px;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  outline-style: dotted;
  outline-color: #ff0066;
  outline-width: 15px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 30px;
  margin-right: 30px;
  padding-bottom: 30px;

}

h1{
  color: black;
  font-size: 70px;
  font-family: 'Galada';
  border-style: none;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

<style>
table {
font-family: arial, sans-serif;
border-collapse: collapse;
width: 100%;

}

td, th {
border: 5px solid #dddddd;
text-align: left;
padding: 8px;
}

tr:nth-child(even) {
background-color: #dddddd;
}
</style>

</body>
